---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/HoracioChavez/orgs?client_id=&client_secret=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1418233587'
      Etag:
      - '"a5e62a101831b6c22e80f1c2bc839481"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"railsbook","id":9400277,"url":"https://api.github.com/orgs/railsbook","repos_url":"https://api.github.com/orgs/railsbook/repos","events_url":"https://api.github.com/orgs/railsbook/events","members_url":"https://api.github.com/orgs/railsbook/members{/member}","public_members_url":"https://api.github.com/orgs/railsbook/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/9400277?v=3"}]'
  recorded_at: Wed, 10 Dec 2014 16:46:28 GMT
recorded_with: VCR 2.9.3
