---
http_interactions:
- request:
    method: get
    uri: https://weworkremotely.com/categories/2/jobs.rss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"7af02c69e8972c795533fcf74b2914fb"'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\">\n
        \ <channel>\n    <title>Recent Programming Jobs</title>\n    <link>https://weworkremotely.com/categories/2/jobs.rss</link>\n
        \   <description>Recent Jobs posted to the Programming category on We Work
        Remotely</description>\n    <language>en-US</language>\n    <ttl>60</ttl>\n
        \   <item>\n      <title>Leadformance: Ruby on Rails Developer - Remote Contractors
        Welcome</title>\n      <description>&lt;img alt=&quot;Resized_logo&quot; src=&quot;https://dge9rmgqjs8m1.cloudfront.net/wwr_s3/logos/0000/1779/logo.gif/resized_logo.png?r=3&quot;
        /&gt;\n\n&lt;p&gt;\n  &lt;strong&gt;Location:&lt;/strong&gt; Chamb&#233;ry,
        France\n    &lt;br /&gt;&lt;strong&gt;URL:&lt;/strong&gt; &lt;a href=&quot;http://www.leadformance.com/en/&quot;&gt;http://www.leadformance.com/en/[...]
