<div class="container">
  <%= @companies.each do |c| %>
   <h3> Company Name: <strong><%= c.name %></strong> </h3>
   <h4> Company Description: <strong><%= c.description %></strong> </h4>
 <% end %>
</div>
