#sidr-right .profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border:solid #0084d0 2px;
  margin: 80px auto 0 auto;
}
#sidr-right .top_text {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}
#sidr-right .body_text {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
}
