<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
  <div class="layout-wrap">
    <%= image_tag('job_basket_logo.gif', class: 'logo')  %>

    <ul class='navbar-right'>
      <li><%= link_to 'Jobs', jobs_path %></li>
      <li><%= link_to 'Resources', "#" %></li>
      <li><%= link_to 'Tracker', "#" %></li>
    </ul>
  </div>
</nav>
