<!DOCTYPE html>
<html>

  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <!-- <%= render partial: 'layouts/navbar' %> -->

    <% if current_user %>
      <%= render partial: 'favorite_jobs/favorites' %>
    <% end %>
    <%= yield %>

  </body>
</html>
