<!DOCTYPE html>
<html>

  <head>
    <%= render partial: 'layouts/head' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% if current_user %>
      <div class="row">
        <div class="span9 offset3">
          <%= yield %>
        </div>        
      </div>
    <% end %>
  </body>
</html>
